[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
	shallow = true
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/SPRIV-Cross"]
	path = external/SPRIV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "external/SPIRV-Cross"]
	path = external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "external/Vulkan-ValidationLayers"]
	path = external/Vulkan-ValidationLayers
	url = https://github.com/KhronosGroup/Vulkan-ValidationLayers
[submodule "external/bc7enc16"]
	path = external/bc7enc16
	url = https://github.com/richgel999/bc7enc16
[submodule "external/exprtk"]
	path = external/exprtk
	url = https://github.com/ArashPartow/exprtk
