[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/SPRIV-Cross"]
	path = external/SPRIV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "external/SPIRV-Cross"]
	path = external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang
